---
title: "Allure test report"
date: 2022-05-06T16:56:30+08:00
draft: false
categories:
- linkPage
tags:
- python module
- testing
summary: "tags: python module, testing"
---
http://blog.autoruby.com/2018/05/allure-test-report.html
Allure Framework is a flexible lightweight multi-language test report tool that not only shows a very concise representation of what have been tested in a neat web report form, but allows everyone participating in the development process to extract maximum of useful information from everyday execution of tests.


